:root {
    --main-color: #000000;
    --shadow-color: #666;
}

table {
    border-collapse: collapse;
}


body {
    background-color:rgb(206, 201, 240);
    font-family: martian mono, sans-serif;
}

nav {
    text-align: center;
}

.button {
    background-color: var(--main-color);
    border: none;
    border-style: inset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0 5px var(--shadow-color);
}

.button:active {
    box-shadow: 0 1px var(--shadow-color);
    transform: translateY(4px);
}

tr {
    font-weight: bolder;
    font-size: 16px;
}

th, td {
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: center;
}

th {
    background-color: lightgray;
}

hr {
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: .4vh solid var(--main-color);
    width: 100%; /* Adjust this value as needed */
}

caption {
    border: 3.5mm ridge gray;
    font-size: 36px;
    font-weight: bolder;
    background-color: lightgray;
}

footer {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#gendisp {
    border-collapse: collapse;
    table-layout: fixed;
    width: 80vw;
    height: 40vh;
    margin: auto;
}
#gendisp th {
    font-size:26px;
    padding: 20px;
}

#gendisp img {
    width: 100%;
    height: 100%; 
    object-fit:cover ;
    display: block;
}

#goh {
    border-collapse: collapse;
    table-layout: fixed;
    width: 50vw;
    height: 20vh;
    margin: auto;
}

#goh th {
    font-size:26px;
    padding: 20px;
}

#goh img{
    width: 100%;
    height: 100%; 
    object-fit:cover ;
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    width: 400px;
    height: auto;
}

.fav_1 {
    align-items: center;
    text-align: center;
    font-family: martian mono;
    font-size: 4.5vh;
    margin-right: 35vw;
    margin-left: 35vw;
    font-weight: 600;
    border: solid;
    display: block;
}

.logo {
    display: block;
    width: 60vw;
    height: 20vh;
    margin: auto;
    border-style: double;
    border-width: 1.5vh;
    border-radius: 20px;
}

.favourites {
    display: block;
    width: 100%; 
    height: 80vh; 
    object-fit: cover;
}

.fav_tbl {
    font-size: 3vh;
    font-family: martian mono;
}

#mid_tbl {
    border: 0px;
    padding-left: 80px;
    padding-right: 80px;
}

.container {
    display: grid;
    justify-content: center;
}

.tbl_format {
    justify-content: center;
    margin-top: 5vh;
}

#cart {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#cartDetails {
    display: none;
    position: fixed;
    top: 40px;
    right: 10px;
    background-color: rgb(206, 201, 240);
    border: 1px solid #ccc;
    padding: 10px;
    width: 400px;
    height: auto;
    overflow: auto;
    max-height: calc(100vh - 50px);
    right: 0;
}

#cartDetails img {
    width: 100px;
    height: auto;
}

#cartDetails .book-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cartDetails .book-row div {
    width: 40%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown::after {
    content: '▼';
    position: absolute;
    right: -1vw;
    top: 0;
}

#searchInput {
    font-size: 20px; 
    padding: 10px 20px; 
    width: 50%; 
}

.suggestions-dropdown {
    display: none;
    background-color: #f9f9f9;
    border: 10px solid black;
    border-radius: 4px;
    padding: 10px;
    position: relative;
    border: 1px solid black;
    width: 50%;
    z-index: 1000;
    top: 120%; 
}

.suggestions-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.suggestions-dropdown ul li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-dropdown ul li:hover {
    background-color: #f1f1f1;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Add this line */
}

html {
    scroll-behavior: smooth;
}